<footer class="wrapper">
  <ul class="contact">   
    <li>
      <div class="item">
        <p><a href="https://www.google.com/maps/place/Protein+Studios/@51.5242787,-0.0793615,18z/data=!4m5!3m4!1s0x48761cb053952fd5:0x67adf05b3d0ebc13!8m2!3d51.5246486!4d-0.0783208">Picfair<br>Spitalfields, London</a></p>
      </div>
    </li>
    <li>
      <div class="item">
        <p>
          <a href="mailto:mailto:devs@picfair.com">devs@picfair.com</a>
        </p>
      </div>
    </li>
    <li>
      <div class="item">
        <p>
          <a href="https://picfair.com" target="_blank">Picfair</a><br>
          <a href="https://vimeo.picfair.com" target="_blank">Vimeo</a>
        </p>
      </div>
    </li>
    <li>
      <div class="item">
        <p>
          <a href="https://twitter.com/picfair" target="_blank">Twitter</a><br>
          <a href="https://www.instagram.com/picfair" target="_blank">Instagram</a>
        </p>
      </div>
    </li>
  </ul>
</footer>

<style>
.contact {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.contact li {
    width: 25%;
}

@media only screen and (max-width: 959px) {
    .contact li {
        width: 50%;
    }
}
@media only screen and (max-width: 624px) {
    .contact li {
        width: 100%;
    }
}
</style>